body {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 60px;
    align-items: center;
    flex-direction: column;
}

.navBar{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .gameTitle {
        font-size: 100px;
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin: 0;
    }

    .rightNavIconsContainer{
        justify-content: flex-end;
    }

    .navIconsContainer{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;



        .navIcon{
            position: relative;
            width: 240px;
            height: 60px;
            padding:  10px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 10px;
   
            cursor: pointer;

            img {
                width: 150px;

            }

            h1 {
    
                pointer-events: none;
                bottom: 14px;
                font-size: 1.1rem;
                text-align: center;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
            }
        }
    }
}

.mainContainer{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: auto;
    height: auto;

    #playerHealth{
        position: absolute;
        display: none;
        align-items: center;
        justify-content: flex-start;
        top: 4px;
        left: 8px;
        width: 24px;
        height: 24px;

        img {
            width: 24px;
            height: 24px;
        }
    }
    #playerCoinsBag{
        position: absolute;
        display: none;
        align-items: center;
        justify-content: flex-end;
        top: 0px;
        right: 8px;
        width: auto;
        height: 32px;

        h1 {
            margin: 0;
            font-size: 24px;
            color: #FCF1B2;
            -webkit-text-stroke: 1px #D05322;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }
    #playerScore{
        position: absolute;
        display: none;
        align-items: center;
        justify-content: flex-start;
        bottom: 4px;
        left: 8px;
        width: 56px;
        height: 32px;

        h1 {
            margin: 0;
            font-size: 24px;
            color: #D05322;
            -webkit-text-stroke: 1px #FCF1B2;
        }

    }
    .uiIconsContainer{
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        bottom: 10px;
        right: 10px;
        gap: 10px;
        z-index: 1;

        .uiIcons {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75px;
            height: 75px;


            .icon {
                position: absolute;
                color: white;
            }

            img {
                border-radius: 20px;
                width: 75px;
                height: 75px;
            }
        }
    }
    
    #gameOver {
        display: none;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        font-size: 100px;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 20px;

    }


    canvas{
        border-radius: 20px;
        box-shadow: 10px ;
    }


    .playBtnContainer{
            position: absolute;
            bottom: 6px;
            padding:  10px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                width: 150px;

            }

            h1 {
    
                pointer-events: none;
                bottom: 14px;
                font-size: 1.1rem;
                text-align: center;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
            }
    }

}

.navIcon:hover {
    scale: 1.1;
}
.navIcon:active {
    scale: 0.98;
}